<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Us</h2>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h2>Our Mission</h2>
                                   <!-- <h4 class="subheading">Our Humble Beginnings</h4> -->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our mission is to create technological solutions that support charitable organizations and initiatives through advanced technology with an emphasis on community impact in Chicago. We leverage these initiatives as opportunities to educate and offer valuable experience to emerging technologists, early-career professionals, and career changers.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="" width=400px>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Drive Social Change & Community Impact</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Empowering nonprofits to make a lasting difference by fostering positive social and environmental change.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <!--<h4></h4>-->
                                    <h4 class="subheading">Elevate Emerging Tech Talent</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Offering a platform for rising stars in technology to showcase their skills and make an impact through meaningful projects.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <!--<h4></h4>-->
                                    <h4 class="subheading">Advance Technology for Good</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Leverging innovative solutions to amplify impact, streamline operations, and create sustainable futures.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>